

.button__form-create-account{
    margin-bottom: 30px;
}


.icon-ban svg{
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.form__include.active{
    display: block;
    display: flex;
    z-index: 20;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
}

.form__include{
    display: none;
}
.d-flex .flex-column{
    position: relative;
}

.form-ban{
    margin: auto;
    width: 30%;
    height: 150px;
    background-color: #ccc;

}
.close-tab {
    width: 24px;    
}


.close-tab svg{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.ban-title{
    margin: 10px auto;
    width: 80%;
    font-size: 15px;
    position: relative;
    text-align: center;
}

.ban-title p{
    color: #333;
    width: auto ;
}

.button__ban-include{
    margin: auto;
    display: flex;
        width: 80%;
    font-size: 30px;
}

.button__ban-yes{
    margin: auto;
    font-size: 20px;
    width: 100px;
}
.button__ban-yes:hover{
   background-color: bisque;
}

.button__ban-no{
    margin: auto;
    font-size: 20px;
    width: 100px;
}

.button__ban-no:hover{
   background-color: bisque;
    

}


/* 13/3/2023 */
.selection__roll{
    outline: #ccc;
    color: #333;
    font-size: 15px;
  border-radius: 10rem;
  padding-top: 4px;
  padding-bottom: 4px;
}


.form__message.invalid{
    color: red;
    font-style: italic;
}

.bg-register-image{
  background-image: url("https://cdn.shopify.com/s/files/1/0644/2958/8701/files/nhan_720x.jpg?v=1672886556");
}


.form__create{
    display: none;
}

.form__create.active{
    display: flex;
    z-index: 22;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0; 
}

.form-create{
    border-radius: 5px;
  margin: auto;
    width: 50%;
    height: auto;
    background-color: #F6E1C3;
}

.form__message.invalid{
color: red;
font-style: italic;

}

.form__group input{
    width: 100%;
}

.form__group{
    margin-top: 5px;
    margin-bottom: 5px;
}
.create-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.create-content h3{
    color: #333;
    text-align: center;
}

.button__group{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: right;
}

.button-create{
    width: 100px;
    height: 30px;
}

.button-create:hover{
    background-color: #a39786;
}

.button__form-create-product{
    margin-bottom: 30px;
}


.repassWord{
    display: none;
}

.repassWord.active{
    display: block;
}

.passWord_message.invalid{
    color: red;
    font-style: italic;
}





















.form__include-unban.active{
    display: block;
    display: flex;
    z-index: 20;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
}

.form__include-unban{
    display: none;
}
.d-flex .flex-column{
    position: relative;
}

.form-unban{
    margin: auto;
    width: 30%;
    height: 150px;
    background-color: #ccc;

}
.close-tab {
    width: 24px;    
}


.close-tab svg{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.ban-title{
    margin: 10px auto;
    width: 80%;
    font-size: 15px;
    position: relative;
    text-align: center;
}

.ban-title p{
    color: #333;
    width: auto ;
}

.button__ban-include{
    margin: auto;
    display: flex;
        width: 80%;
    font-size: 30px;
}

.button__ban-yes{
    margin: auto;
    font-size: 20px;
    width: 100px;
}
.button__ban-yes:hover{
   background-color: bisque;
}

.button__ban-no{
    margin: auto;
    font-size: 20px;
    width: 100px;
}

.button__ban-no:hover{
   background-color: bisque;
    

}
